.modal-user, .modal-ranking, .modal-marking{
    display: none;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.91);
}
    .modal-user-content, .modal-ranking-content, .modal-marking-content {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-top: .5%;
        background-color: rgba(209, 241, 252, 0.3);
        border-radius: 10px;
    }